body{
  padding: 0px;
  margin: 0px;
  font-family: 'Cabin', sans-serif;
}

header nav{
  background-color: #f7f7f7;
}

.tam{
  font-size: 20px;
}

h1,h2,h3{
  Font-weight: bold;
}

h1{
  font-size: 35px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

/* Estilos footer */
footer{
  background-color: #f7c1d2;
}

footer p{
  text-align:center;
}
